@import url(http://fonts.googleapis.com/css?family=Economica:400,700);
html,body {
		height:100%;
		background-color: #ded1c1;
}

.container-mast{
	margin: 0 auto;
	width: 100%;
	min-height:100px;
	background-color:#975e4a;
	color:white;
	overflow:hidden;
	padding:0;
	margin:0;
	position: relative;
}

.container-mast .row{
	margin-right: 0;
	margin-left: 0;
}

.container-mast h1 {
  font-family: 'Economica', sans-serif;
  font-size:80px;
}

hr {
	border-top: 1px solid #694335;
}

.panel-default {
	border-color: #694335;
}

.panel-default > .panel-heading{
	background-color:#975e4a;
	position: relative;
	text-align: center;
	border-color: #694335;
}

.container-mast:before, .panel-default > .panel-heading:before{
	position: absolute;
	top:0;
	left:5%;
	content: '';
	min-height:100%;
	background: -moz-linear-gradient(left, rgba(252, 53, 84, 0.7) 25%, rgba(250, 199, 46, 0.7) 25%, rgba(250, 199, 46, 0.7) 50%, rgba(109, 202, 147, 0.7) 50%, rgba(109, 202, 147, 0.7) 75%, rgba(63, 141, 250, 0.7) 75%);
	background: -webkit-gradient(linear, left top, right top, color-stop(25%, rgba(250, 199, 46, 0.7)), color-stop(50%, rgba(109, 202, 147, 0.7)), color-stop(75%, rgba(63, 141, 250, 0.7)));
	background: -webkit-linear-gradient(left, rgba(252, 53, 84, 0.7) 25%, rgba(250, 199, 46, 0.7) 25%, rgba(250, 199, 46, 0.7) 50%, rgba(109, 202, 147, 0.7) 50%, rgba(109, 202, 147, 0.7) 75%, rgba(63, 141, 250, 0.7) 75%);
	background: -o-linear-gradient(left, rgba(250, 199, 46, 0.7) 25%, rgba(109, 202, 147, 0.7) 50%, rgba(63, 141, 250, 0.7) 75%);
	background: -ms-linear-gradient(left, rgba(250, 199, 46, 0.7) 25%, rgba(109, 202, 147, 0.7) 50%, rgba(63, 141, 250, 0.7) 75%);
	background: linear-gradient(to right, rgba(252, 53, 84, 0.7) 25%, rgba(250, 199, 46, 0.7) 25%, rgba(250, 199, 46, 0.7) 50%, rgba(109, 202, 147, 0.7) 50%, rgba(109, 202, 147, 0.7) 75%, rgba(63, 141, 250, 0.7) 75%);
	-moz-box-shadow: inset 0px 5px 9px rgba(255, 255, 255, 0.3);
	-webkit-box-shadow: inset 0px 5px 9px rgba(255, 255, 255, 0.3);
	box-shadow: inset 0px 5px 9px rgba(255, 255, 255, 0.3);
}

.container-mast:before{
	width:200px;
}

.panel-default > .panel-heading:before{
	width:25px;
}

.panel-default .alert{
	display: none;
}

.instagram-list{
	padding: 0;
	width: 290px;
	margin: 0 auto; 
}

.instagram-list .instagram-item{
	padding:0;
	list-style: none;
	display: inline-block;
	margin: 5px;	
	border: 3px solid #975E4A;
}

.instagram-list .instagram-item:hover{
	border-color:#0168C7;
}

.v-center {
		margin-top:7%;
}